body {
    margin: 0;
    background-color: #d2d2d2;
    color: #000000;
    text-align: center;
  }
  
  .App {
    text-align: center;
  }
  
  .input-base {
    background-color: #212121;
    margin-bottom: 25px;
  }
  .container-top {
    width: auto;
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 20px;
    text-align: left;
    margin: -10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
  }
  
  .container {
    margin: auto;
    width: 60%;
    background-color: white;
    border: 2px solid grey;
    color: #252525;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  h1 {
    color: white;
    margin-top: 0;
    padding: 20px 10px 0 0;
  }
  
  .label {
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
  }
  
  #search-field {
    margin-bottom: 20px;
    padding-bottom: 25px;
    background-color: #212121;
  }
  
  #city {
    color: white;
    font-size: 20px;
  }
  
  input {
    font-size: 15px;
    padding: 7px 5px 7px 10px;
    border: thin solid #333;
    border-radius: 5px;
    outline: none;
    margin-left: 15px;
  }

  header{
      color: #ffffff;
  }

  span{
      display: inline-block;
      margin-left: 5px;
  }

  button{
    font-size: 15px;
    padding: 6px 4px;
  }

  ul {
    display: -ms-flexbox;           
    display: -webkit-flex;          
    display: flex;
    -webkit-flex-flow: wrap column; 
    flex-flow: wrap column;
    max-height: 900px;              
  }
